<h3><%= t('.question_count', count: @test.questions.count) %>.</h3>
<h3><%= t('.test_question') %>: </h3>
<%= link_to t('.new_question'), new_admin_test_question_path(@test.id) %>
<table>
  <th><%= t('.question') %></<th>
  <th collspan = '3'> <%= t('admin.actions') %></th>
  <%= render @test.questions %>
</table>
