<div class="row mt-5">
  <h2><%= t('.header') %></h2>
</div>
<div class="row">
  <%= link_to t('.new_test'), new_admin_test_path, class: "btn btn-link"%>
</div>
<div class="row">
  <table class="table table-striped table-hover">
    <th><%= t('tests_common.name') %></th>
    <th><%= t('tests_common.difficulty') %></th>
    <th><%= t('tests_common.category') %></th>
    <th colspan='3'><%= t('tests_common.actions') %></th>
    <%= render @tests %>
  </table>
</div>
