<div class="row justify-content-center mt-5">
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title"><%= t('.header', title: @test.title) %></h2>
          <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><%= "#{t('tests_common.name')}: #{@test.title}" %></li>
            <li class="list-group-item"><%= "#{t('tests_common.difficulty')}: #{@test.level}" %></li>
            <li class="list-group-item">
              <%= t('tests_common.category') %>:
              <% if @test.category.present? %>
                <%= @test.category.title %>
              <% else %>
                <%= t('admin.tests.no_category') %>
              <% end %>
            </li>
          </ul>
        <%= render 'test_questions' %>
        <%= link_to t('admin.edit'), edit_admin_test_path(@test), class: "btn btn-link" %>
        <%= link_to t('admin.back'), admin_tests_path, class: "btn btn-link" %>
        <%= link_to t('admin.delete'), admin_test_path(@test),
                                       method: :delete,
                                       data: { confirm: t('delete_confirm') },
                                       class: "btn btn-danger" %>
        <%= button_to 'Publish', { action: 'publish' }, { class: "btn btn-warning" }%>
      </div>
    </div>
  </div>
</div>
