<div>
  <h2><%= t('.header', title: @test.title) %></h2>
  <div>
    <p>
      <%= "#{t('admin.tests.name')}: #{@test.title}" %>
    </p>
    <p>
      <%= "#{t('admin.tests.difficulty')}: #{@test.level}" %>
    </p>
    <p>
      <%= t('admin.tests.category') %>:
      <% if @test.category.present? %>
        <%= @test.category.title %>
      <% else %>
        <%= t('admin.tests.no_category') %>
      <% end %>
    </p>
  </div>
  <div>
    <%= render 'test_questions' %>
  </div>
  <%= link_to t('admin.edit'), edit_admin_test_path(@test) %> |
  <%= link_to t('admin.delete'), admin_test_path(@test),
                                 method: :delete,
                                 data: { confirm: t('delete_confirm') } %> |
  <%= link_to t('admin.back'), admin_tests_path %>
</div>
