<div class="row">
  <h2><%= t('tests.index.header') %></h2>
  <table class="table table-striped table-hover">
    <th><%= t('tests_common.name') %></th>
    <th><%= t('tests_common.difficulty') %></th>
    <th><%= t('tests_common.category') %></th>
    <th><%= t('tests_common.actions') %></th>
    <%= render @tests %>
  </table>
</div>
