<div>
  <h2> Test <%= @test.title %> </h2>
  <div>
    <p>
      Test name: <%= @test.title %>
    </p>
    <p>
      Test level: <%= @test.level %>
    </p>
    <p>
      Test category:
      <% if @test.category.present? %>
        <%= @test.category.title %>
      <% else %>
        No category
      <% end %>
    </p>
  </div>
  <div>
    <%= render 'test_questions' %>
  </div>
  <%= link_to 'Edit', edit_test_path(@test) %> |
  <%= link_to 'Delete', test_path(@test),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', tests_path %>
</div>
